<header class="container" *ngIf="i18n">
  <span class="container__app">
    <strong class="title">{{ i18n.appName }}</strong>
  </span>
  <div class="container__menu">
    <button mat-button [matMenuTriggerFor]="menu">
      {{ i18n.selectLanguage }}
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        *ngFor="let languageKey of languageKeys"
        (click)="changeLanguage(languageKey)"
      >
        <span>{{ i18n.languages[languageKey] }}</span>
      </button>
    </mat-menu>
  </div>
</header>
