.result-container {
  padding: 0 0.5rem;

  font-size: 1.2rem;
}

.content {
  padding-block: 1rem;
  text-align: center;

  &__img-logo {
    object-fit: cover;
    width: 80vw;
    max-height: 25rem;
  }

  &__img-license {
    width: 80vw;
    display: inline-block;
    margin: auto;
    text-align: start;
  }

  &__gift-table {
    margin: 2rem auto;
    width: 80vw;
  }

  &__info-text,
  &__greetings {
    width: 80vw;
    margin: 2rem auto;
    text-align: start;
  }

  &__buttons {
    margin-block: 2rem;
  }
}

@media (min-width: 576px) {
  /* Greater than sm */
  .result-container {
    padding: 0 2rem;
  }

  .content {
    background-color: whitesmoke;

    &__buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.copyright,
.button-group {
  margin-block: 1rem;
}
